*{
    margin: 0px;
    padding: 0px;
}
.contact_container{
    background-color: #1E293B;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    margin-top: 130px;
}
img{
    height:50vh;
    width:20vw;
    border-radius: 30px;
    object-fit: cover;
    padding: 10px;

}
.mail_logo{
    height: 50px;
    width: 50px;
}
.contact_list{
    display: flex;
    
}
li{
    list-style-type: none;
    font-size: 15px;
}
.git_logo{
    width: 50px;
    height: 50px;
}
.linkedin_logo{
    width: 50px;
    height: 50px;
}
.call_logo{
    width: 50px;
    height: 50px;
}
.contact_list{
    padding: 5px;
    align-items: center;
}
h{  
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline
}
button{
      text-align: center;
    height: fit-content;
    width: fit-content;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    cursor: pointer;
    background-color: aliceblue;
    color: #1E293B;
    padding: 5px;
}